/*----------------------------------------------------------------------------
  @group Global Reset
----------------------------------------------------------------------------*/
* {
  padding:0;
  margin:0;
}
h1, h2, h3, h4, h5, h6, p, pre, blockquote, label, ul, ol, dl, fieldset, address { margin:1em 0; }
li, dd { margin-left:5%; }
fieldset { padding: .5em; }
select option{ padding:0 5px; }

.access{ display:none; } /* For accessibility related elements */
.clear{ clear:both; height:0px; font-size:0px; line-height:0px; overflow:hidden; }
a{ outline:none; }
a img{ border:none; }

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
* html .clearfix {height: 1%;}
.clearfix {display:inline-block;}
.clearfix {display: block;}

/* @end */

body{
  font-family:"proxima_nova_softmedium", Helvetica, Arial, sans-serif;
  font-size:14px;
}

header{
  padding:10px;

  font-size:16px;
  color:#666;

  background:#f1f1f1;
  border-bottom:1px solid #ddd;
}

#wrapper{
  width:600px;
  padding-left:200px;
}

nav[role=main]{
  float:left;
  margin-left:-200px;
  width:160px;
}
nav ul{
  margin-left:10px;
}
nav li{
  list-style-type:none;
  margin:10px 0;
}
nav li a{
  text-decoration:none;
  color:#666;
}

/*----------------------------------------------------------------------------
  @group Styleguide Styles
----------------------------------------------------------------------------*/

h1.styleguide {
    font-size: 1.75em;
    line-height: 1.2;
    font-weight: normal;
    margin-bottom: 1rem;}

.styleguide-code {
    font-family: Monaco, monospace;
    margin-top:40px;
    font-size: .875em;
  }    

.styleguide-example {
  margin: 15px 0;
  background: rgba(255, 255, 255, 0.5); }
  .styleguide-example > h3 {
    margin: 0;
    padding: 5px;
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;}
    .styleguide-example > h3 em {
      float: right;
      text-transform: none;
      font-style: normal;
      font-weight: normal;
      color: #999; }
  .styleguide-example .styleguide-description {
    padding: 10px 5px;
    background: #f1f1f1;
    border-bottom: 1px solid #ddd; }
    .styleguide-example .styleguide-description p:first-child {
      margin-top: 0; }
    .styleguide-example .styleguide-description p:last-child {
      margin-bottom: 0; }
  .styleguide-example .styleguide-element {
    position: relative;
    padding: 20px; }
  .styleguide-example .styleguide-element + .styleguide-element {
    margin-top: -5px;
    padding-top: 15px;
    border-top: 1px solid #eee; }
  .styleguide-example .styleguide-element .styleguide-modifier-name {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px 8px;
    font-size: 11px;
    color: #999;
    background: #f9f9f9;
    border: 1px solid #eee;
    border-top: none; }
  .styleguide-example .styleguide-html {
    padding: 30px;
    background: #434349;
    overflow: auto;
    color: #fff; }
    .styleguide-example .styleguide-html .highlight {
      background: none; }
  .styleguide-example ul.styleguide-modifiers {
    margin: 0 0 0 10px; }
    .styleguide-example ul.styleguide-modifiers li {
      list-style-type: none;
      margin-left: 0; }
    .styleguide-example ul.styleguide-modifiers li strong {
      font-family: Monaco, monospace;
      font-size: 12px;
      font-weight: normal;
      color: #222; }
  .styleguide-example > .styleguide-code {
    font-family: Monaco, monospace;
  }

/* @end */

.omega-md-5 [class^="col-"]:nth-child(6n),
.omega-md-5 [class*=" col-"]:nth-child(6n) {
    clear: both
}
.col-1-5 {
    float: left;
    width: 20%;
    /*border-right: 1px solid #ebebeb;*/
    text-align: center
}
.col-1-5:last-child {
    border: 0
}
.section {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding:6%;
}
.section-grey {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background: #f3f3f3;
    padding: 6%;
}

.page-heading {
    font-size: 16px;
    text-align: right;
    background-color: #434349;
    color: white;
    padding: 20px 8%;
    margin-bottom: 60px;
    text-transform:uppercase;
    letter-spacing: .2em;
}
.styleguide-example .styleguide-element+.styleguide-element,
.styleguide-example .styleguide-element {
    margin-top: 0;
    padding: 40px 20px
}
.styleguide-example .styleguide-element .styleguide-modifier-name {
    right: auto;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
}
.styleguide-example h3.styleguide-section-header {
    color: #434349;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: .2em;
    padding-bottom: 30px;
    padding-top:15px;
    font-weight: 600;
}
.styleguide-example pre {
    margin: 0
}
.styleguide-variables pre {
    display: block
}
.styleguide-inner {
    padding: 3%;
}
.styleguide-subheading {
    margin-top: 0px;
    margin-bottom: 25px;
    padding-bottom: 10px;
    font-weight: 400;
    font-size: 16px;
    color: #434349;
}
.styleguide-color-row {
    margin-bottom: 55px
}
.styleguide-color-row code {
    font-size: 12px
}
.styleguide-color-row span {
    display: block;
    margin-top: 15px;
    font-size: 14px
}
.styleguide-primarycolor {
    height: 140px;
    border-bottom: 0;
}
.styleguide-secondarycolor {
    height: 70px;
    border-bottom: 0;
}
.styleguide-variables pre {
    border-radius: 0 0 4px 4px
}
.styleguide-example .styleguide-element+.styleguide-element {
    border-top: 0
}