html {
    box-sizing: border-box
}
*,
*::after,
*::before {
    box-sizing: inherit
}
.container {
    max-width: 68em
}
.container::after {
    clear: both;
    content: "";
    display: table
}
.row {
    display: block
}
.row::after {
    clear: both;
    content: "";
    display: table
}

.col {
    display: inline-block
}
[class^="col-"],
[class*=" col-"] {
    /*padding: 10px*/
}
.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12 {
    position: relative;
    min-height: 1px
}
.col-xs-1 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 6.17215%
}
.col-xs-1:last-child {
    margin-right: 0
}
.col-xs-collapse-1 {
    display: block;
    float: left;
    width: 8.33333%
}
.col-xs-collapse-1:last-child {
    width: 8.33333%
}
.col-xs-offset-1 {
    margin-left: 8.5298%
}
.col-xs-2 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 14.70196%
}
.col-xs-2:last-child {
    margin-right: 0
}
.col-xs-collapse-2 {
    display: block;
    float: left;
    width: 16.66667%
}
.col-xs-collapse-2:last-child {
    width: 16.66667%
}
.col-xs-offset-2 {
    margin-left: 17.05961%
}
.col-xs-3 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%
}
.col-xs-3:last-child {
    margin-right: 0
}
.col-xs-collapse-3 {
    display: block;
    float: left;
    width: 25%
}
.col-xs-collapse-3:last-child {
    width: 25%
}
.col-xs-offset-3 {
    margin-left: 25.58941%
}
.col-xs-4 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%;
}
.col-xs-4:last-child {
    margin-right: 0
}
.col-xs-collapse-4 {
    display: block;
    float: left;
    width: 33.33333%
}
.col-xs-collapse-4:last-child {
    width: 33.33333%
}
.col-xs-offset-4 {
    margin-left: 34.11922%
}
.col-xs-5 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 40.29137%
}
.col-xs-5:last-child {
    margin-right: 0
}
.col-xs-collapse-5 {
    display: block;
    float: left;
    width: 41.66667%
}
.col-xs-collapse-5:last-child {
    width: 41.66667%
}
.col-xs-offset-5 {
    margin-left: 42.64902%
}
.col-xs-6 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%
}
.col-xs-6:last-child {
    margin-right: 0
}
.col-xs-collapse-6 {
    display: block;
    float: left;
    width: 50%
}
.col-xs-collapse-6:last-child {
    width: 50%
}
.col-xs-offset-6 {
    margin-left: 51.17883%
}
.col-xs-7 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 57.35098%
}
.col-xs-7:last-child {
    margin-right: 0
}
.col-xs-collapse-7 {
    display: block;
    float: left;
    width: 58.33333%
}
.col-xs-collapse-7:last-child {
    width: 58.33333%
}
.col-xs-offset-7 {
    margin-left: 59.70863%
}
.col-xs-8 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 65.88078%
}
.col-xs-8:last-child {
    margin-right: 0
}
.col-xs-collapse-8 {
    display: block;
    float: left;
    width: 66.66667%
}
.col-xs-collapse-8:last-child {
    width: 66.66667%
}
.col-xs-offset-8 {
    margin-left: 68.23843%
}
.col-xs-9 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 74.41059%
}
.col-xs-9:last-child {
    margin-right: 0
}
.col-xs-collapse-9 {
    display: block;
    float: left;
    width: 75%
}
.col-xs-collapse-9:last-child {
    width: 75%
}
.col-xs-offset-9 {
    margin-left: 76.76824%
}
.col-xs-10 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 82.94039%
}
.col-xs-10:last-child {
    margin-right: 0
}
.col-xs-collapse-10 {
    display: block;
    float: left;
    width: 83.33333%
}
.col-xs-collapse-10:last-child {
    width: 83.33333%
}
.col-xs-offset-10 {
    margin-left: 85.29804%
}
.col-xs-11 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 91.4702%
}
.col-xs-11:last-child {
    margin-right: 0
}
.col-xs-collapse-11 {
    display: block;
    float: left;
    width: 91.66667%
}
.col-xs-collapse-11:last-child {
    width: 91.66667%
}
.col-xs-offset-11 {
    margin-left: 93.82785%
}
.col-xs-12 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%
}
.col-xs-12:last-child {
    margin-right: 0
}
.col-xs-collapse-12 {
    display: block;
    float: left;
    width: 100%
}
.col-xs-collapse-12:last-child {
    width: 100%
}
.col-xs-offset-12 {
    margin-left: 102.35765%
}
.col-xs-centered {
    margin-left: auto!important;
    margin-right: auto!important;
    float: none!important
}
@media screen and (max-width: 767px) {
    .omega-xs-1 [class^="col-"]:nth-child(1n),
    .omega-xs-1 [class*=" col-"]:nth-child(1n),
    .omega-xs-2 [class^="col-"]:nth-child(2n),
    .omega-xs-2 [class*=" col-"]:nth-child(2n),
    .omega-xs-3 [class^="col-"]:nth-child(3n),
    .omega-xs-3 [class*=" col-"]:nth-child(3n),
    .omega-xs-4 [class^="col-"]:nth-child(4n),
    .omega-xs-4 [class*=" col-"]:nth-child(4n),
    .omega-xs-5 [class^="col-"]:nth-child(5n),
    .omega-xs-5 [class*=" col-"]:nth-child(5n),
    .omega-xs-6 [class^="col-"]:nth-child(6n),
    .omega-xs-6 [class*=" col-"]:nth-child(6n),
    .omega-xs-7 [class^="col-"]:nth-child(7n),
    .omega-xs-7 [class*=" col-"]:nth-child(7n),
    .omega-xs-8 [class^="col-"]:nth-child(8n),
    .omega-xs-8 [class*=" col-"]:nth-child(8n),
    .omega-xs-9 [class^="col-"]:nth-child(9n),
    .omega-xs-9 [class*=" col-"]:nth-child(9n),
    .omega-xs-10 [class^="col-"]:nth-child(10n),
    .omega-xs-10 [class*=" col-"]:nth-child(10n),
    .omega-xs-11 [class^="col-"]:nth-child(11n),
    .omega-xs-11 [class*=" col-"]:nth-child(11n),
    .omega-xs-12 [class^="col-"]:nth-child(12n),
    .omega-xs-12 [class*=" col-"]:nth-child(12n) {
        margin-right: 0
    }
}
@media screen and (min-width: 768px) {
    .container {
        max-width: 768px
    }
    .col-sm-1 {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 6.17215%
    }
    .col-sm-1:last-child {
        margin-right: 0
    }
    .col-sm-push-1 {
        left: 8.5298%
    }
    .col-sm-pull-1 {
        right: 8.5298%
    }
    .col-sm-collapse-1 {
        display: block;
        float: left;
        width: 8.33333%
    }
    .col-sm-collapse-1:last-child {
        width: 8.33333%
    }
    .col-sm-offset-1 {
        margin-left: 8.5298%
    }
    .col-sm-2 {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 14.70196%
    }
    .col-sm-2:last-child {
        margin-right: 0
    }
    .col-sm-push-2 {
        left: 17.05961%
    }
    .col-sm-pull-2 {
        right: 17.05961%
    }
    .col-sm-collapse-2 {
        display: block;
        float: left;
        width: 16.66667%
    }
    .col-sm-collapse-2:last-child {
        width: 16.66667%
    }
    .col-sm-offset-2 {
        margin-left: 17.05961%
    }
    .col-sm-3 {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 23.23176%;
        padding: 3%;
    }
        .col-sm-3-center {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 23.23176%;
        padding: 3%;
        text-align: center;
    }

    .color {
    text-align: center;
    vertical-align: middle;
    color: #fff;
    font-size: 1.5em;
    letter-spacing: .05em;
    width: 25%;
    margin: 0px;
    }

    .col-sm-3:last-child {
        margin-right: 0
    }
    .col-sm-push-3 {
        left: 25.58941%
    }
    .col-sm-pull-3 {
        right: 25.58941%
    }
    .col-sm-collapse-3 {
        display: block;
        float: left;
        width: 25%
    }
    .col-sm-collapse-3:last-child {
        width: 25%
    }
    .col-sm-offset-3 {
        margin-left: 25.58941%
    }
    .col-sm-4 {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 31.76157%
    }
    .col-sm-4:last-child {
        margin-right: 0
    }
    .col-sm-push-4 {
        left: 34.11922%
    }
    .col-sm-pull-4 {
        right: 34.11922%
    }
    .col-sm-collapse-4 {
        display: block;
        float: left;
        width: 33.33333%
    }
    .col-sm-collapse-4:last-child {
        width: 33.33333%
    }
    .col-sm-offset-4 {
        margin-left: 34.11922%
    }
    .col-sm-5 {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 40.29137%
    }
    .col-sm-5:last-child {
        margin-right: 0
    }
    .col-sm-push-5 {
        left: 42.64902%
    }
    .col-sm-pull-5 {
        right: 42.64902%
    }
    .col-sm-collapse-5 {
        display: block;
        float: left;
        width: 41.66667%
    }
    .col-sm-collapse-5:last-child {
        width: 41.66667%
    }
    .col-sm-offset-5 {
        margin-left: 42.64902%
    }
    .col-sm-6 {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 48.82117%
    }

    .col-sm-6:last-child {
        margin-right: 0
    }
    .col-sm-push-6 {
        left: 51.17883%
    }
    .col-sm-pull-6 {
        right: 51.17883%
    }
    .col-sm-collapse-6 {
        display: block;
        float: left;
        width: 50%
    }
    .col-sm-collapse-6:last-child {
        width: 50%
    }
    .col-sm-offset-6 {
        margin-left: 51.17883%
    }
    .col-sm-7 {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 57.35098%
    }
    .col-sm-7:last-child {
        margin-right: 0
    }
    .col-sm-push-7 {
        left: 59.70863%
    }
    .col-sm-pull-7 {
        right: 59.70863%
    }
    .col-sm-collapse-7 {
        display: block;
        float: left;
        width: 58.33333%
    }
    .col-sm-collapse-7:last-child {
        width: 58.33333%
    }
    .col-sm-offset-7 {
        margin-left: 59.70863%
    }
    .col-sm-8 {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 65.88078%
    }
    .col-sm-8:last-child {
        margin-right: 0
    }
    .col-sm-push-8 {
        left: 68.23843%
    }
    .col-sm-pull-8 {
        right: 68.23843%
    }
    .col-sm-collapse-8 {
        display: block;
        float: left;
        width: 66.66667%
    }
    .col-sm-collapse-8:last-child {
        width: 66.66667%
    }
    .col-sm-offset-8 {
        margin-left: 68.23843%
    }
    .col-sm-9 {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 74.41059%
    }
    .col-sm-9:last-child {
        margin-right: 0
    }
    .col-sm-push-9 {
        left: 76.76824%
    }
    .col-sm-pull-9 {
        right: 76.76824%
    }
    .col-sm-collapse-9 {
        display: block;
        float: left;
        width: 75%
    }
    .col-sm-collapse-9:last-child {
        width: 75%
    }
    .col-sm-offset-9 {
        margin-left: 76.76824%
    }
    .col-sm-10 {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 82.94039%
    }
    .col-sm-10:last-child {
        margin-right: 0
    }
    .col-sm-push-10 {
        left: 85.29804%
    }
    .col-sm-pull-10 {
        right: 85.29804%
    }
    .col-sm-collapse-10 {
        display: block;
        float: left;
        width: 83.33333%
    }
    .col-sm-collapse-10:last-child {
        width: 83.33333%
    }
    .col-sm-offset-10 {
        margin-left: 85.29804%
    }
    .col-sm-11 {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 91.4702%
    }
    .col-sm-11:last-child {
        margin-right: 0
    }
    .col-sm-push-11 {
        left: 93.82785%
    }
    .col-sm-pull-11 {
        right: 93.82785%
    }
    .col-sm-collapse-11 {
        display: block;
        float: left;
        width: 91.66667%
    }
    .col-sm-collapse-11:last-child {
        width: 91.66667%
    }
    .col-sm-offset-11 {
        margin-left: 93.82785%
    }
    .col-sm-12 {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%
    }
    .col-sm-12:last-child {
        margin-right: 0
    }
    .col-sm-push-12 {
        left: 102.35765%
    }
    .col-sm-pull-12 {
        right: 102.35765%
    }
    .col-sm-collapse-12 {
        display: block;
        float: left;
        width: 100%
    }
    .col-sm-collapse-12:last-child {
        width: 100%
    }
    .col-sm-offset-12 {
        margin-left: 102.35765%
    }
    .col-sm-centered {
        margin-left: auto!important;
        margin-right: auto!important;
        float: none!important
    }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
    .omega-sm-1 [class^="col-"]:nth-child(1n),
    .omega-sm-1 [class*=" col-"]:nth-child(1n),
    .omega-sm-2 [class^="col-"]:nth-child(2n),
    .omega-sm-2 [class*=" col-"]:nth-child(2n),
    .omega-sm-3 [class^="col-"]:nth-child(3n),
    .omega-sm-3 [class*=" col-"]:nth-child(3n),
    .omega-sm-4 [class^="col-"]:nth-child(4n),
    .omega-sm-4 [class*=" col-"]:nth-child(4n),
    .omega-sm-5 [class^="col-"]:nth-child(5n),
    .omega-sm-5 [class*=" col-"]:nth-child(5n),
    .omega-sm-6 [class^="col-"]:nth-child(6n),
    .omega-sm-6 [class*=" col-"]:nth-child(6n),
    .omega-sm-7 [class^="col-"]:nth-child(7n),
    .omega-sm-7 [class*=" col-"]:nth-child(7n),
    .omega-sm-8 [class^="col-"]:nth-child(8n),
    .omega-sm-8 [class*=" col-"]:nth-child(8n),
    .omega-sm-9 [class^="col-"]:nth-child(9n),
    .omega-sm-9 [class*=" col-"]:nth-child(9n),
    .omega-sm-10 [class^="col-"]:nth-child(10n),
    .omega-sm-10 [class*=" col-"]:nth-child(10n),
    .omega-sm-11 [class^="col-"]:nth-child(11n),
    .omega-sm-11 [class*=" col-"]:nth-child(11n),
    .omega-sm-12 [class^="col-"]:nth-child(12n),
    .omega-sm-12 [class*=" col-"]:nth-child(12n) {
        margin-right: 0
    }
}
@media screen and (min-width: 992px) {
    .container {
        max-width: 992px
    }
    .col-md-1 {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 6.17215%
    }
    .col-md-1:last-child {
        margin-right: 0
    }
    .col-md-push-1 {
        left: 8.5298%
    }
    .col-md-pull-1 {
        right: 8.5298%
    }
    .col-md-collapse-1 {
        display: block;
        float: left;
        width: 8.33333%
    }
    .col-md-collapse-1:last-child {
        width: 8.33333%
    }
    .col-md-offset-1 {
        margin-left: 8.5298%
    }
    .col-md-2 {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 14.70196%
    }
    .col-md-2:last-child {
        margin-right: 0
    }
    .col-md-push-2 {
        left: 17.05961%
    }
    .col-md-pull-2 {
        right: 17.05961%
    }
    .col-md-collapse-2 {
        display: block;
        float: left;
        width: 16.66667%
    }
    .col-md-collapse-2:last-child {
        width: 16.66667%
    }
    .col-md-offset-2 {
        margin-left: 17.05961%
    }
    .col-md-3 {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 23.23176%
    }
    .col-md-3:last-child {
        margin-right: 0
    }
    .col-md-push-3 {
        left: 25.58941%
    }
    .col-md-pull-3 {
        right: 25.58941%
    }
    .col-md-collapse-3 {
        display: block;
        float: left;
        width: 25%
    }
    .col-md-collapse-3:last-child {
        width: 25%
    }
    .col-md-offset-3 {
        margin-left: 25.58941%
    }
    .col-md-4 {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 31.76157%;
        padding: 3%;
    }
    .col-md-4:last-child {
        margin-right: 0
    }
    .col-md-push-4 {
        left: 34.11922%
    }
    .col-md-pull-4 {
        right: 34.11922%
    }
    .col-md-collapse-4 {
        display: block;
        float: left;
        width: 33.33333%
    }
    .col-md-collapse-4:last-child {
        width: 33.33333%
    }
    .col-md-offset-4 {
        margin-left: 34.11922%
    }
    .col-md-5 {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 40.29137%
    }
    .col-md-5:last-child {
        margin-right: 0
    }
    .col-md-push-5 {
        left: 42.64902%
    }
    .col-md-pull-5 {
        right: 42.64902%
    }
    .col-md-collapse-5 {
        display: block;
        float: left;
        width: 41.66667%
    }
    .col-md-collapse-5:last-child {
        width: 41.66667%
    }
    .col-md-offset-5 {
        margin-left: 42.64902%
    }
    .col-md-6 {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 48.82117%
    }
    .col-md-6:last-child {
        margin-right: 0
    }
    .col-md-push-6 {
        left: 51.17883%
    }
    .col-md-pull-6 {
        right: 51.17883%
    }
    .col-md-collapse-6 {
        display: block;
        float: left;
        width: 50%
    }
    .col-md-collapse-6:last-child {
        width: 50%
    }
    .col-md-offset-6 {
        margin-left: 51.17883%
    }
    .col-md-7 {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 57.35098%
    }
    .col-md-7:last-child {
        margin-right: 0
    }
    .col-md-push-7 {
        left: 59.70863%
    }
    .col-md-pull-7 {
        right: 59.70863%
    }
    .col-md-collapse-7 {
        display: block;
        float: left;
        width: 58.33333%
    }
    .col-md-collapse-7:last-child {
        width: 58.33333%
    }
    .col-md-offset-7 {
        margin-left: 59.70863%
    }
    .col-md-8 {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 65.88078%
    }
    .col-md-8:last-child {
        margin-right: 0
    }
    .col-md-push-8 {
        left: 68.23843%
    }
    .col-md-pull-8 {
        right: 68.23843%
    }
    .col-md-collapse-8 {
        display: block;
        float: left;
        width: 66.66667%
    }
    .col-md-collapse-8:last-child {
        width: 66.66667%
    }
    .col-md-offset-8 {
        margin-left: 68.23843%
    }
    .col-md-9 {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 74.41059%
    }
    .col-md-9:last-child {
        margin-right: 0
    }
    .col-md-push-9 {
        left: 76.76824%
    }
    .col-md-pull-9 {
        right: 76.76824%
    }
    .col-md-collapse-9 {
        display: block;
        float: left;
        width: 75%
    }
    .col-md-collapse-9:last-child {
        width: 75%
    }
    .col-md-offset-9 {
        margin-left: 76.76824%
    }
    .col-md-10 {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 82.94039%
    }
    .col-md-10:last-child {
        margin-right: 0
    }
    .col-md-push-10 {
        left: 85.29804%
    }
    .col-md-pull-10 {
        right: 85.29804%
    }
    .col-md-collapse-10 {
        display: block;
        float: left;
        width: 83.33333%
    }
    .col-md-collapse-10:last-child {
        width: 83.33333%
    }
    .col-md-offset-10 {
        margin-left: 85.29804%
    }
    .col-md-11 {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 91.4702%
    }
    .col-md-11:last-child {
        margin-right: 0
    }
    .col-md-push-11 {
        left: 93.82785%
    }
    .col-md-pull-11 {
        right: 93.82785%
    }
    .col-md-collapse-11 {
        display: block;
        float: left;
        width: 91.66667%
    }
    .col-md-collapse-11:last-child {
        width: 91.66667%
    }
    .col-md-offset-11 {
        margin-left: 93.82785%
    }
    .col-md-12 {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%
    }
    .col-md-12:last-child {
        margin-right: 0
    }
    .col-md-push-12 {
        left: 102.35765%
    }
    .col-md-pull-12 {
        right: 102.35765%
    }
    .col-md-collapse-12 {
        display: block;
        float: left;
        width: 100%
    }
    .col-md-collapse-12:last-child {
        width: 100%
    }
    .col-md-offset-12 {
        margin-left: 102.35765%
    }
    .col-md-centered {
        margin-left: auto!important;
        margin-right: auto!important;
        float: none!important
    }
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
    .omega-md-1 [class^="col-"]:nth-child(1n),
    .omega-md-1 [class*=" col-"]:nth-child(1n),
    .omega-md-2 [class^="col-"]:nth-child(2n),
    .omega-md-2 [class*=" col-"]:nth-child(2n),
    .omega-md-3 [class^="col-"]:nth-child(3n),
    .omega-md-3 [class*=" col-"]:nth-child(3n),
    .omega-md-4 [class^="col-"]:nth-child(4n),
    .omega-md-4 [class*=" col-"]:nth-child(4n),
    .omega-md-5 [class^="col-"]:nth-child(5n),
    .omega-md-5 [class*=" col-"]:nth-child(5n),
    .omega-md-6 [class^="col-"]:nth-child(6n),
    .omega-md-6 [class*=" col-"]:nth-child(6n),
    .omega-md-7 [class^="col-"]:nth-child(7n),
    .omega-md-7 [class*=" col-"]:nth-child(7n),
    .omega-md-8 [class^="col-"]:nth-child(8n),
    .omega-md-8 [class*=" col-"]:nth-child(8n),
    .omega-md-9 [class^="col-"]:nth-child(9n),
    .omega-md-9 [class*=" col-"]:nth-child(9n),
    .omega-md-10 [class^="col-"]:nth-child(10n),
    .omega-md-10 [class*=" col-"]:nth-child(10n),
    .omega-md-11 [class^="col-"]:nth-child(11n),
    .omega-md-11 [class*=" col-"]:nth-child(11n),
    .omega-md-12 [class^="col-"]:nth-child(12n),
    .omega-md-12 [class*=" col-"]:nth-child(12n) {
        margin-right: 0
    }
}
@media screen and (min-width: 1200px) {
    .container {
        max-width: 68em;
        margin-left: auto;
        margin-right: auto
    }
    .container::after {
        clear: both;
        content: "";
        display: table
    }
    .col-lg-1 {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 6.17215%
    }
    .col-lg-1:last-child {
        margin-right: 0
    }
    .col-lg-push-1 {
        left: 8.5298%
    }
    .col-lg-pull-1 {
        right: 8.5298%
    }
    .col-lg-collapse-1 {
        display: block;
        float: left;
        width: 8.33333%
    }
    .col-lg-collapse-1:last-child {
        width: 8.33333%
    }
    .col-lg-offset-1 {
        margin-left: 8.5298%
    }
    .col-lg-2 {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 14.70196%
    }
    .col-lg-2:last-child {
        margin-right: 0
    }
    .col-lg-push-2 {
        left: 17.05961%
    }
    .col-lg-pull-2 {
        right: 17.05961%
    }
    .col-lg-collapse-2 {
        display: block;
        float: left;
        width: 16.66667%
    }
    .col-lg-collapse-2:last-child {
        width: 16.66667%
    }
    .col-lg-offset-2 {
        margin-left: 17.05961%
    }
    .col-lg-3 {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 23.23176%
    }
    .col-lg-3:last-child {
        margin-right: 0
    }
    .col-lg-push-3 {
        left: 25.58941%
    }
    .col-lg-pull-3 {
        right: 25.58941%
    }
    .col-lg-collapse-3 {
        display: block;
        float: left;
        width: 25%
    }
    .col-lg-collapse-3:last-child {
        width: 25%
    }
    .col-lg-offset-3 {
        margin-left: 25.58941%
    }
    .col-lg-4 {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 31.76157%
    }
    .col-lg-4:last-child {
        margin-right: 0
    }
    .col-lg-push-4 {
        left: 34.11922%
    }
    .col-lg-pull-4 {
        right: 34.11922%
    }
    .col-lg-collapse-4 {
        display: block;
        float: left;
        width: 33.33333%
    }
    .col-lg-collapse-4:last-child {
        width: 33.33333%
    }
    .col-lg-offset-4 {
        margin-left: 34.11922%
    }
    .col-lg-5 {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 40.29137%
    }
    .col-lg-5:last-child {
        margin-right: 0
    }
    .col-lg-push-5 {
        left: 42.64902%
    }
    .col-lg-pull-5 {
        right: 42.64902%
    }
    .col-lg-collapse-5 {
        display: block;
        float: left;
        width: 41.66667%
    }
    .col-lg-collapse-5:last-child {
        width: 41.66667%
    }
    .col-lg-offset-5 {
        margin-left: 42.64902%
    }
    .col-lg-6 {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 48.82117%
    }
    .col-lg-6:last-child {
        margin-right: 0
    }
    .col-lg-push-6 {
        left: 51.17883%
    }
    .col-lg-pull-6 {
        right: 51.17883%
    }
    .col-lg-collapse-6 {
        display: block;
        float: left;
        width: 50%
    }
    .col-lg-collapse-6:last-child {
        width: 50%
    }
    .col-lg-offset-6 {
        margin-left: 51.17883%
    }
    .col-lg-7 {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 57.35098%
    }
    .col-lg-7:last-child {
        margin-right: 0
    }
    .col-lg-push-7 {
        left: 59.70863%
    }
    .col-lg-pull-7 {
        right: 59.70863%
    }
    .col-lg-collapse-7 {
        display: block;
        float: left;
        width: 58.33333%
    }
    .col-lg-collapse-7:last-child {
        width: 58.33333%
    }
    .col-lg-offset-7 {
        margin-left: 59.70863%
    }
    .col-lg-8 {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 65.88078%
    }
    .col-lg-8:last-child {
        margin-right: 0
    }
    .col-lg-push-8 {
        left: 68.23843%
    }
    .col-lg-pull-8 {
        right: 68.23843%
    }
    .col-lg-collapse-8 {
        display: block;
        float: left;
        width: 66.66667%
    }
    .col-lg-collapse-8:last-child {
        width: 66.66667%
    }
    .col-lg-offset-8 {
        margin-left: 68.23843%
    }
    .col-lg-9 {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 74.41059%
    }
    .col-lg-9:last-child {
        margin-right: 0
    }
    .col-lg-push-9 {
        left: 76.76824%
    }
    .col-lg-pull-9 {
        right: 76.76824%
    }
    .col-lg-collapse-9 {
        display: block;
        float: left;
        width: 75%
    }
    .col-lg-collapse-9:last-child {
        width: 75%
    }
    .col-lg-offset-9 {
        margin-left: 76.76824%
    }
    .col-lg-10 {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 82.94039%
    }
    .col-lg-10:last-child {
        margin-right: 0
    }
    .col-lg-push-10 {
        left: 85.29804%
    }
    .col-lg-pull-10 {
        right: 85.29804%
    }
    .col-lg-collapse-10 {
        display: block;
        float: left;
        width: 83.33333%
    }
    .col-lg-collapse-10:last-child {
        width: 83.33333%
    }
    .col-lg-offset-10 {
        margin-left: 85.29804%
    }
    .col-lg-11 {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 91.4702%
    }
    .col-lg-11:last-child {
        margin-right: 0
    }
    .col-lg-push-11 {
        left: 93.82785%
    }
    .col-lg-pull-11 {
        right: 93.82785%
    }
    .col-lg-collapse-11 {
        display: block;
        float: left;
        width: 91.66667%
    }
    .col-lg-collapse-11:last-child {
        width: 91.66667%
    }
    .col-lg-offset-11 {
        margin-left: 93.82785%
    }
    .col-lg-12 {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%
    }
    .col-lg-12:last-child {
        margin-right: 0
    }
    .col-lg-push-12 {
        left: 102.35765%
    }
    .col-lg-pull-12 {
        right: 102.35765%
    }
    .col-lg-collapse-12 {
        display: block;
        float: left;
        width: 100%
    }
    .col-lg-collapse-12:last-child {
        width: 100%
    }
    .col-lg-offset-12 {
        margin-left: 102.35765%
    }
    .col-lg-centered {
        margin-left: auto!important;
        margin-right: auto!important;
        float: none!important
    }
    .omega-lg-1 [class^="col-"]:nth-child(1n),
    .omega-lg-1 [class*=" col-"]:nth-child(1n),
    .omega-lg-2 [class^="col-"]:nth-child(2n),
    .omega-lg-2 [class*=" col-"]:nth-child(2n),
    .omega-lg-3 [class^="col-"]:nth-child(3n),
    .omega-lg-3 [class*=" col-"]:nth-child(3n),
    .omega-lg-4 [class^="col-"]:nth-child(4n),
    .omega-lg-4 [class*=" col-"]:nth-child(4n),
    .omega-lg-5 [class^="col-"]:nth-child(5n),
    .omega-lg-5 [class*=" col-"]:nth-child(5n),
    .omega-lg-6 [class^="col-"]:nth-child(6n),
    .omega-lg-6 [class*=" col-"]:nth-child(6n),
    .omega-lg-7 [class^="col-"]:nth-child(7n),
    .omega-lg-7 [class*=" col-"]:nth-child(7n),
    .omega-lg-8 [class^="col-"]:nth-child(8n),
    .omega-lg-8 [class*=" col-"]:nth-child(8n),
    .omega-lg-9 [class^="col-"]:nth-child(9n),
    .omega-lg-9 [class*=" col-"]:nth-child(9n),
    .omega-lg-10 [class^="col-"]:nth-child(10n),
    .omega-lg-10 [class*=" col-"]:nth-child(10n),
    .omega-lg-11 [class^="col-"]:nth-child(11n),
    .omega-lg-11 [class*=" col-"]:nth-child(11n),
    .omega-lg-12 [class^="col-"]:nth-child(12n),
    .omega-lg-12 [class*=" col-"]:nth-child(12n) {
        margin-right: 0
    }
}
.padless {
    padding: 0
}
.omega {
    margin-right: 0
}
.clearfix::after {
    clear: both;
    content: "";
    display: table
}
.pull-left {
    float: left
}
body {
    font-family: "proxima_nova_softmedium", Helvetica, sans-serif;
    font-size: 14px;
    line-height: 17px
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    color: #27272D;
    font-weight: 400
}
h1 {
font-size: 2.85em;
    line-height: 1.2;
    font-weight: normal;
    margin-bottom: 1rem;
}
h2 {
    font-size: 1.5em;
    font-weight: 400;
    line-height: 1.3;
}

h4{
    font-size: 1.1em;
    font-weight: 400;
    line-height: 1.2;

}
p {
    font-size: 0.875em;
    margin-bottom: 2rem;
    line-height: 1.5;
}

.print {
    font-size: 0.8em;
    line-height: 1.5;
    margin:0em;
    font-style:italic;
}

.section-heading{
    color: #434349;
    font-size: 1.5em;
    text-transform: uppercase;
    letter-spacing: .2em;
    padding-bottom: 30px;
    font-weight: 600;
    text-align: center;
}

.text-large {
    font-size: 18px
}
.text-small,
.table th {
    font-size: 12px
}
.width-full,
img {
    width: 100%
}
.relative {
    position: relative
}
.hidden {
    display: none
}
.capitalize {
    text-transform: uppercase
}
.time-sub {
    font-size: .75em
}
.small-text {
    font-size: .9em
}
.table {
    width: 100%;
    border-collapse: collapse
}
/*.table.table-striped tr:nth-of-type(even) {
    background-color: #F3F3F3
}
.table tr.active,
.table.table-striped tr.active {
    background-color: #f3f3f3;
}*/
.table tr.active td,
.table.table-striped tr.active td {
    border-bottom: 0
}
.table th,
.table td {
    height: 47px;
    border-bottom: 1px solid #f2f2f2;
    padding: 28px;
}
.table th {
    border-top: 1px solid #f2f2f2;
    font-weight: 600;
    color: #bbbbbb;
    text-transform: uppercase;
    text-align: left;
    letter-spacing: .05em;
}
.table th.active {
    color: #27272D
}
.input.text {
    position: relative;
    font-size: .875em;
}
.input.label{
    padding-bottom: 10px;
    font-weight: 600;
    font-size: .875em;
    text-align:left;
}

.input.text input[type="text"] {
    outline: none;
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 2px solid #DDDDE0;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    -webkit-transition: all 0.15s ease;
    -moz-transition: all 0.15s ease;
    transition: all 0.15s ease;
}
.input.text input[type="text"]:hover {
    background-color: #F3F3F3
}
.input.text input[type="text"]:focus {
    border-color: #3BD9BD
}
.input.text.bottom-bordered input[type="text"] {
    width: 100%;
    border: 0;
    border-bottom: 1px solid #CCC;
    padding: 17px
}
.input.text.bottom-bordered input[type="text"]:focus {
    border-color: #3BD9BD
}
.input.text.bottom-bordered.icon {
    position: relative
}
.input.text.bottom-bordered.icon input[type="text"] {
    padding-left: 40px
}
.input.text.bottom-bordered.icon i {
    position: absolute;
    top: 14px;
    left: 0;
    display: inline-block;
    width: 18px;
    height: 18px;
    background-color: #CCC;
    margin-left:10px;
}
.input.text.bottom-bordered.inline {
    display: inline-block;
    margin-right: -4px
}
.input.text.bottom-bordered.inline:last-child:after {
    display: none
}
.input.text.bottom-bordered.inline:after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    height: 15px;
    border-right: 1px solid #CCC
}
.checkbox {
    display: inline-block;
    margin-right: 5px
}
input[type="checkbox"] {
    display: none
}
input[type="checkbox"]+label {
    display: block;
    position: relative;
    top: 5px;
    width: 20px;
    height: 20px;
    margin: 0;
    border-radius: 3px;
    border: 1px solid #BFBFC0;
    cursor: pointer;
    -webkit-transition: all .15s ease-out 0;
    transition: all .15s ease-out 0s
}
input[type="checkbox"]+label:hover {
    border-color: #3BD9BD;
    background-color: #3BD9BD
}
input[type="checkbox"]:checked+label {
    border-color: #3BD9BD;
    background-color: #3BD9BD
}
.btn,
.btn-seafoam {
    outline: 0;
    background: 0 0;
    font-family: "proxima_nova_softmedium", Helvetica, sans-serif
}
.btn-seafoam {
    border-radius: 3px;
    border: 2px solid transparent;
    padding: 19px 30px 16px;
    font-size: 14px
}
.btn.round,
.round.btn-seafoam {
    border-radius: 49px
}
.button-mint {
    display: block;
    background-color: #26DEBD;
    color: #fff;
    text-align: center;
    width: 300px;
    font-weight: 600;
    font-size: 0.875em;
    padding: 10px 30px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transition: all 0.2s ease;
     border: none;
}

.button-dashboard {
    display: block;
    background-color: #26DEBD;
    color: #fff;
    text-align: center;
    width: 300px;
    font-weight: 600;
    font-size: 0.875em;
    padding: 20px 30px;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transition: all 0.2s ease;
     border: none;
}

.button-disabled {
    display: block;
    background-color: #BBBBBB;
    color: #fff;
    margin: 0 auto;
    text-align: center;
    width: 200px;
    font-weight: 600;
    font-size: 0.875em;
    padding: 10px 30px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transition: all 0.2s ease;
    border: none;
}

.button-mint:hover {
    background-color: #25bca2;
}
.button-mint:active {
    background-color: #1c927d;
}
.button-mint:disabled {
    border-color: #BBBBBB;
    background-color: #BBBBBB;
    color: #ffffff;
    cursor: default;
}

.button-square {
    display: block;
    background-color: #26DEBD;
    color: #fff;
    text-align: center;
    width: 200px;
    font-weight: 600;
    font-size: 0.875em;
    padding: 10px 30px;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transition: all 0.2s ease;
     border: none;
}

.browsehappy {
    margin: .2em 0;
    background: #ccc;
    color: #000;
    padding: .2em 0
}

body {
    margin: 0
}
a {
    text-decoration: none;
    color: #fff;
}
.container {
    width: 1170px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px
}
.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    background-color: #222
}
.navbar>a {
    float: left;
    color: lightgrey;
    padding: 15px;
    font-size: 18px;
    line-height: 20px;
    height: 50px
}
.navbar ul {
    float: left;
    padding: 0;
    margin: 0
}
.navbar ul li {
    float: left;
    position: relative;
    display: block
}
.navbar ul li a {
    color: #fff;
    position: relative;
    display: block;
    padding: 15px;
    line-height: 20px
}
.navbar ul li.active a {
    background-color: #000
}
.jumbotron {
    padding: 60px;
    margin-bottom: 30px;
    background-color: gainsboro
}
.jumbotron,
.btn {
    text-align: center;
    border-radius: 6px
}
.btn {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33
}
.col {
    float: left;
    width: 33.33%;
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box
}
.col .thumbnail {
    height: 200px;
    border: 1px solid lightgrey;
    border-radius: 4px;
    margin-bottom: 20px
}
.col .thumbnail .caption {
    padding: 9px
}
.col .thumbnail img.pull-right {
    width: 50px
}
.pull-right {
    float: right
}
hr {
    clear: both
}
.acme-malarkey {
    text-transform: capitalize;
    color: #cb3837
}
.acme-malarkey:after {
    -webkit-animation: cursor-blink .4s linear infinite;
    animation: cursor-blink .4s linear infinite;
    content: "|";
    color: #cb3837
}
@-webkit-keyframes cursor-blink {
    1%, 40% {
        opacity: 0
    }
    60%,
    100% {
        opacity: 1
    }
}
@keyframes cursor-blink {
    1%, 40% {
        opacity: 0
    }
    60%,
    100% {
        opacity: 1
    }
}
.acme-navbar-text {
    color: #fff
}

@font-face {
    font-family: 'proxima_nova_softmedium';
    src: url('fonts/mark_simonson_-_proxima_nova_soft_medium-webfont.eot');
    src: url('fonts/mark_simonson_-_proxima_nova_soft_medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/mark_simonson_-_proxima_nova_soft_medium-webfont.woff2') format('woff2'),
         url('fonts/mark_simonson_-_proxima_nova_soft_medium-webfont.woff') format('woff'),
         url('fonts/mark_simonson_-_proxima_nova_soft_medium-webfont.ttf') format('truetype'),
         url('fonts/mark_simonson_-_proxima_nova_soft_medium-webfont.svg#proxima_nova_softmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'proxima_nova_softsemibold';
    src: url('fonts/mark_simonson_-_proxima_nova_soft_semibold-webfont.eot');
    src: url('fonts/mark_simonson_-_proxima_nova_soft_semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/mark_simonson_-_proxima_nova_soft_semibold-webfont.woff2') format('woff2'),
         url('fonts/mark_simonson_-_proxima_nova_soft_semibold-webfont.woff') format('woff'),
         url('fonts/mark_simonson_-_proxima_nova_soft_semibold-webfont.ttf') format('truetype'),
         url('fonts/mark_simonson_-_proxima_nova_soft_semibold-webfont.svg#proxima_nova_softsemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ss_gizmoregular';
    src: url('fonts/ss-gizmo-webfont.eot');
    src: url('fonts/ss-gizmo-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/ss-gizmo-webfont.woff2') format('woff2'),
         url('fonts/ss-gizmo-webfont.woff') format('woff'),
         url('fonts/ss-gizmo-webfont.ttf') format('truetype'),
         url('fonts/ss-gizmo-webfont.svg#ss_gizmoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.ss-icon{
    font-family: "SSGizmo";
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size:1em;
    padding-right: .6em;
}
